<main>
    <div class="container-md">
        <h2 class="text-center mt-2">!--HELLO--!</h2>
        <h6 class="text-center mt-2" id="last-login">Last Login: </h6>
        <div class="d-flex justify-content-between">
            <a class="btn btn-secondary" href="/new-mail">New Mail                
                <img alt="send message icon" src="/public/img/send-icon.png" id="send-img-icon" class="ms-2 mb-1">
            </a>
            <div class="btn btn-secondary"  id="toggle-inbox">
                <a>View Sent Mail</a>
                <img alt="send message icon" src="/public/img/send-icon.png" id="send-img-icon" class="ms-2 mb-1">
            </div>
            <a class="btn btn-secondary" id="logout-button">Logout               
                <img alt="send message icon" src="/public/img/logout-icon.png" id="send-img-icon" class="ms-2 mb-1">
            </a>        
        </div>
    </div>
    
    <div id="emails-container" class="container-md my-4 bg-secondary">
        <!-- <div class="border-bottom border-light">
            <div class="container-fliud d-flex justify-content-between p-2 email-drop-button">
                <div class="d-flex">
                    <img alt="caret indicting email content dropdown" src="/public/svg/caret-up.svg" width="25" height="25" class="my-auto me-3">
                    <h4 class="text-center my-auto">Subject</h4>
                </div>
                <div class="my-auto">
                    <h5 class="text-center my-auto">from: benny boy</h5>
                    <h6 class="text-center my-auto">20/10/18 : 735</h6>
                </div>
            </div>
            <div class="container-xs mx-5 px-5 my-1 mb-3 email-contents-box">
                <h5>ipsum Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum consectetur distinctio, sunt animi praesentium delectus debitis itaque! Incidunt magnam, distinctio molestiae repudiandae minima aut culpa sit quae repellendus? Error, facilis.</h5>
            </div>
        </div> -->
    </div>
</main>     

<script src="/public/scripts/inbox-script.js"></script>
