<div class="container-md my-4 d-flex justify-content-center">
   <h1 class="text-center">Login</h1>
</div>


<div class="container-sm bg-danger sticky-top my-3 py-2 justify-content-center" id="alert-failure">
   <h3 class="text-center">Login Unsuccessful. Please Try Again.</h3>
</div>

<div class="container-sm bg-success sticky-top my-3 py-2 justify-content-center" id="alert-success">
   <h3 class="text-center">Login Successful! Redirecting...</h3>
</div>

<main class="container-md my-4 d-flex justify-content-center">
    <form class="d-flex flex-column" id="login-form">
         <div class="mb-3">
            <label for="" class="form-label">Username</label>
            <input 
            type="text"
            pattern="^[a-zA-Z0-9\-_]{4,}$" 
            title="Please enter a valid username with at least 4 characters (letters, numbers, _, and - only)"
            class="form-control text-dark" 
            name="username" 
            id="username" 
            aria-describedby="usernameHelpId" 
            placeholder="Enter username" 
            required
            />
         </div>
         <div class="mb-3">
            <label for="" class="form-label">Password</label>
            <input
                type="password"
                class="form-control text-dark"
                name="password"
                id="password"
                placeholder="Enter Password"
                pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="please enter atleast 8 characters containing 1 digit, 1 upper case and 1 lower case"
                required
            />
         </div>
         <button
            type="submit"
            class="btn btn-secondary"
            id="submit"
         >
            Submit
         </button>
         <h5 class="my-4"><a href="/create-account">Don't have an account? Click here to create one!</a></h5>
    </form>

</main>

<script src="/public/scripts/login-script.js"></script>
